h1 
{
    color: rgb(0, 0, 255);
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

body{
    background-color: rgb(199, 209, 255);
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    color:rgb(76, 76, 178)
}
